<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="search_result" sortOrder="10" showInWebsite="1" showInStore="1" showInDefault="1" translate="label">
            <label>Search Result Page Contents</label>
            <tab>eagle_tooltip</tab>
            <resource>Eagle_CustomSearchBlock::config_eagle_customsearchblock</resource>
            <group id="page" sortOrder="10" showInWebsite="1" showInStore="1" showInDefault="1" translate="label">
                <label>Search Terms</label>
                <field id="ranges" translate="label" sortOrder="5" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Search Terms Ranges</label>
                    <frontend_model>Eagle\CustomSearchBlock\Block\Adminhtml\Form\Field\Ranges</frontend_model>
                    <backend_model>Magento\Config\Model\Config\Backend\Serialized\ArraySerialized</backend_model>
                </field>
            </group>
        </section>
    </system>
</config>
