<?xml version="1.0"?>
<!--
/**
 * Copyright © Ulmod. All rights reserved.
 * See LICENSE.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <ulmod_ordernotes>
            <notifications>
                <customer>
                  <template>ulmod_ordernotes_notifications_customer_template</template>                   
                  <sender_name>Default Sender Name</sender_name>   
                  <sender_email>defaultstore@example.com</sender_email>                               	
                </customer>
                <admin>
                  <template>ulmod_ordernotes_notifications_admin_template</template>                    
                  <admin_email>support@example.com</admin_email>   
                  <sender_name>Default Sender Name</sender_name>   
                  <sender_email>defaultstore@example.com</sender_email>                                 	
                </admin>
            </notifications>        
        </ulmod_ordernotes>
    </default>
</config>
