<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <hideqty>
            <general>
                <module_enable>1</module_enable>
               <enable>1</enable>
            </general>
        </hideqty>
    </default>
</config>
