<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
<default>
<Magemonkeys_RepresentativeAttr>
	<general>
		<representative>
			10
		</representative>
	</general>
</Magemonkeys_RepresentativeAttr>
</default>
</config>