<?xml version="1.0"?>
<!--
/**
 * Copyright © Ulmod. All rights reserved.
 * See LICENSE.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
 <preference for="Magento\Sales\Block\Order\History" type="Ulmod\Ordernotes\Block\Order\History" />
 <preference for="Magento\Sales\Block\Order\Recent" type="Ulmod\Ordernotes\Block\Order\Recent" />
</config>
